<!-- templates/cards/card.html -->


<div class="col-md-4">
    <article class="col-md-12 center">
        <a href="{% url 'card-update' card.id %}" role="button">
            ✏️ Edit Card
        </a>
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <h2 class="h2">Question</h2>
                  
                    <p class="p2">{{ card.question }}</p>
                  </div>
                  <div class="flip-card-back">
                    <h2 class="h2">Reveal Answer</h2>
                    
                    <p class="cardanswer p-2">{{ card.answer }}</p>
                  </div>
                </div>
              </div>
        </article>
        
</div>









