<!-- templates/cards/card.html -->
<div id="QModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="closeQ">&times;</span>
    
    </div>
    <div class="modal-body">
      <h2 class="text-center">Are you sure you want to delete this question?</h2>
      <p class="text-center" >Once deleted, deck and questions can no longer be retrieved</p>
    </div>
    <div class="modal-footer">
      <a class="btn btncarddelete" href="">❌Delete</a>
    </div>
  </div>

</div>

<div class="col-md-4">
    <article class="col-md-12 center">
      <div class="row">
        <div class="col-md-6">
          <a href="{% url 'card-update' card.id %}" role="button">
            ✏️ Edit Card
        </a>
        </div>
        <div class="col-md-6">
          <a data-id="{{ card.id }}" class= "btnQdel badge badge-primary badge-pill"  role="button">
            ❌ Delete
        </a>
        </div>
      </div>
        <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <h2 class="h2">Question</h2>
                  
                    <p class="p2">{{ card.question }}</p>
                  </div>
                  <div class="flip-card-back">
                    <h2 class="h2">Reveal Answer</h2>
                    
                    <p class="cardanswer p-2">{{ card.answer }}</p>
                  </div>
                </div>
              </div>
        </article>
        
</div>









