{% extends "cards/base.html" %}

{% block content %}
<div class="row" >
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="form-group signinform">
        <h1>Enter your name</h1>
<form method="post" action="{% url 'get_name' %}">
    {% csrf_token %}
    <label for="name">Your name:</label>
    <input type="text" id="name" name="name" maxlength="100">
    <button type="submit">Submit</button>
</form>
</div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}